<p id="notice"><%= notice %></p>

<div class="specialdiv">
    
    <%= link_to new_status_path do %>
      <%= content_tag :button, "Nuevo", :class => "botonCrear waves-effect waves-light btn" %>
    <% end %>
    <h3>Estados</h3> 
    
    <%= grid(@statuses) do |g|

        g.column name: 'Nombre'  do |status|
            status.title
        end

        g.column name: 'Departamento'  do |status|
            status.department.departmentName
        end
     
    end -%>

</div>
<br><br><br>

